body{
	background-image: url("../images/src=http___img2.doubanio.com_view_group_topic_l_public_p460509343.jpg&refer=http___img2.doubanio.webp");
	color: blue;
}
table{
	background-color: lightblue;
}
